*{
    font-family: Brush Script MT;
    box-sizing: border-box;
}
body{
    background-image: url(img/pasteleria.jpg);;
}
section.uno{
    width: 100%;
    height: 90px;
}
header{
    width: 99.2%;
    height: 130px;
    background-color: lightpink;
    position: fixed;
    display: flex;
    opacity: 0.8;
}
h1{
    font-size: 60px;
    text-align: justify;
    top: -20px;
    left: 500px;
    position: relative;
    color: blue;
}
div.unod{
    left: 800px;
    font-size: 35px;
    position: relative;
}
a{
    text-decoration: none;
    color: black;
}
section.dos{
    width: 100%;
    height: 750px;
    background-color: magenta;
}
section.tres{
    display: block;
    margin-top: 60px;
    width: 100%;
    height: 700px;
    background-color: magenta;
    text-align: center;
    overflow-y: scroll;
    scroll-behavior: initial;
}
h2{
    font-size: 50px;
    text-align: center;
    color: white;
}
img.prin{
    margin-left: 50px;
}
div.tresd{
    top: -100px;
}
table{
    border-color: black;
    margin-left: 1000px;
    margin-top: -550px;
    border-style: none;
    font-size: 50px;
    background-color: aqua;
    text-align: center;
}
table.pres{
    margin-left: 700px;
    margin-top: -630px;
    margin-right: 100px;    
}
th, td{
    width: auto;
    height: auto;
}
table.we{
    margin-top: auto;
    margin-left: 50px;
}
p.ref{
    text-align: justify;
    font-size: 30px;
    margin-left: 150px;
}
label{
    font-size: 50px;
}
.tam{
    width: 300px;
    height: 50px;
    font-size: 25px;
}
.but{
    width: 150px;
    height: 50px;
    border-radius: 30px;
    font-size: 25px;
}
.persona{
    width: 300px;
    height: 90px;
    font-size: 25px;
}
table.pastelero{
    margin-left: 10px;
    margin-top: 30px;
    margin-right: 10px;    
}
footer{
    width: 100%;
    height: 300px;
    background-color: lightpink;
    display: flex;
    opacity: 0.8;
}
table.footh{
    width: 100%;
    font-size: x-large;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
